#departure tbody {
    font-size: 28px;
}

#departure thead {
    font-size: 28px;
}


@media (max-width: 339) {

#departure td:first-child {
   font-size: 16px;
}

}

@media (min-width: 340) {

#departure td:first-child {
   font-size: 28px;
}

}

#departure tbody td:nth-child(2) div:first-child {
    font-size: 28px;
}

#departure tbody td:nth-child(2) div:last-child {
    font-size: 14px;
}

#departure-footer td {
    font-size: 14px;
}

.container {
    padding: 0
}
