<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="text-center"><span class="glyphicon glyphicon-map-marker"></span></th>
                <!-- th>Nästa avg&aring;ng</th -->
                <th class="text-center"><span class="glyphicon glyphicon-time"></span></th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
    <div class="col-md-4"></div>
</div>
